[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayesImageS"]
	path = bayesImageS
	url = https://bitbucket.org/azeari/bayesimages
	shallow = true
	registered = true
